﻿
#info {
    float: left;
    /*margin-right: 10px;*/
    margin-left: 90px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

#name {
    float:left;
	margin-left: 75px;
	padding-bottom: 15px;
	font-size: 16px;
	font-family: 'Times New Roman';
	color: black;
}

#DOB {
    float:left;
    margin-left: 69px;
	padding-bottom: 15px;
	font-size: 16px;
	font-family: 'Times New Roman';
	color: black;
}

#email {
    float: left;
    margin-left: 70px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

#phone {
    float: left;
    margin-left: 70px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

#nationality {
    float: left;
    margin-left: 40px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

#course {
    float: left;
    margin-left: 75px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

#schoolname {
    float: left;
    margin-left: 39px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

#addinfo {
    float: left;
    margin-left: 203px;
    margin-right: 90px;
    margin-right: 70px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

#position {
    float: none;
    margin-right: 70px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

#company {
    float: left;
    margin-left: 203px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: black;
}

td {
    padding: 2px;
}

    table#t01, th#t01, td#t01 {
        width: 75%;
        margin-left: 90px;
        border: 1px solid black;
        border-collapse: collapse;
        table-layout: fixed;
    }

th#t01 {
    height: 30px;
}

td#t01 {
    text-align: center;
    width: 50%;
}


h3 {
    margin-left: 90px;
    
}

h4 {
    margin-left: 90px;
}

p {
    margin-left: 90px;
    margin-right: 70px;
}
